APP_NAME=TheValueFlow
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://167.233.46.114

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tvf
DB_USERNAME=tvf_app
DB_PASSWORD=

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025

TVF_ALERT_EMAIL=admin@thevalueflow.com
GOOGLE_SAFE_BROWSING_KEY=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_TRACKER_IP=167.233.41.29

TRACKER_INTERNAL_URL=http://10.5.0.2:8081
